h1{
    display: flex;
    justify-content: center;
    color: rgb(255, 252, 252);
    font-family: 'Dancing Script', cursive;
    background-color: blueviolet;
}

h3{
    display: flex;
    justify-content: center;
    font-family: 'Lilita One', cursive;
    background-color: white;
}

h2{
    display: flex;
    justify-content: center;
    font-family: 'Lilita One', cursive;
    background-color: white;
}

li{
    display: flex;
    justify-content: center;
    font-family: 'Oswald', sans-serif;
    color: white;
}

.boton{
    background-color: blueviolet;
}

a{
    color: white;
}

body{
 background-image: url(https://t4.ftcdn.net/jpg/04/10/17/95/360_F_410179527_ExxSzamajaCtS16dyIjzBRNruqlU5KMA.jpg);
}


.audios{
    
}


